<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wanderlust</title>
  </head>
  <body> -->

  
<% layout("layout/boilerplate")%>

<div class="row" >
<div class="col-8 offset-2">
    <br>
<h3>Edit Your <b>Airbnb</b></h3>

 <form method="POST" action="/listings/<%= listing._id %>?_method=PUT"
   novalidate class="needs-validation" enctype="multipart/form-data" >

  <div class="mb-3">
    <label class="form-label">Title</label>
    <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
    <div class="invalid-feedback">
       Choose Valid Title.
      </div>
  </div>

  <div class="mb-3">
    <label class="form-label">Description</label>
    <textarea  name="listing[description]" class="form-control" type="String" required><%= listing.description %></textarea>
    <div class="invalid-feedback">
       Choose Valid Description.
      </div>
  </div>

   <div class="mb-3">
    Original Listed Image<br>
    <img src="<%= originalImageUrl%>" style="height:15rem"/>
   </div>
  <div class="mb-3">
    <label class="form-label">Upload New Image</label>
    <input name="listing[image]" class="form-control" type="file"/>
    <small style="color:#6366F1">Image size must be less than 2MB.</small>

    <!-- <div class="invalid-feedback">
       Choose Valid Link/Url.
      </div> -->
  </div>

  <div class="row">

    <div class="mb-3 col-md-4">
     <label class="form-label">Price</label>
     <input name="listing[price]" 
     value="<%= listing.price %>" type="number" class="form-control" required>
      <div class="invalid-feedback">
       Choose Valid Price.
      </div>
    </div>

    <div class="mb-3 col-md-8">
     <label class="form-label">Country</label>
     <input name="listing[country]" class="form-control"
     value="<%= listing.country %>" type="String" required pattern="[A-Za-z ]+">
      <div class="invalid-feedback">
       Choose Valid Country(only Alphabet).
      </div>
    </div>
      <!-- categories -->
<div class="mb-3">
  <label class="form-label">Category</label>
  <select name="listing[category]" class="form-control" required>

    <option value="Trending" <%= listing.category==="Trending"?"selected":"" %>>Trending</option>
    <option value="Rooms" <%= listing.category==="Rooms"?"selected":"" %>>Rooms</option>
    <option value="Iconic Cities" <%= listing.category==="Iconic Cities"?"selected":"" %>>Iconic Cities</option>
    <option value="Mountains" <%= listing.category==="Mountains"?"selected":"" %>>Mountains</option>
    <option value="Castle" <%= listing.category==="Castle"?"selected":"" %>>Castle</option>
    <option value="Farms" <%= listing.category==="Farms"?"selected":"" %>>Farms</option>
    <option value="Arctic" <%= listing.category==="Arctic"?"selected":"" %>>Arctic</option>
    <option value="Pools" <%= listing.category==="Pools"?"selected":"" %>>Pools</option>
    <option value="Camping" <%= listing.category==="Camping"?"selected":"" %>>Camping</option>
    <option value="Desert" <%= listing.category==="Desert"?"selected":"" %>>Desert</option>
    <option value="Beach" <%= listing.category==="Beach"?"selected":"" %>>Beach</option>
    <option value="Restaurant" <%= listing.category==="Restaurant"?"selected":"" %>>Restaurant</option>
    <option value="Skyscrapers" <%= listing.category==="Skyscrapers"?"selected":"" %>>Skyscrapers</option>
    <option value="Skyscrapers" <%= listing.category==="Others"?"selected":"" %>>Others</option>

  </select>
</div>
</div>

  <div class="mb-3">
    <label class="form-label">Location</label>
    <input name="listing[location]" class="form-control"
    value="<%= listing.location%>" type="text"  required>
     <div class="invalid-feedback">
       Choose Valid Location.
      </div>
  </div>
<br>
  <button class="btn btn-dark edit-btn">Edit</button>

  </form>
  <br><br>
</div>
</div>




